* {
    padding: 0;
    margin: 0;
}

#wrap {
    width: 100%;
    background-color: #F4F0E6;
}

body {
    background: #F2EEE4;
    color: #F14620;
}

/* header */

#header {
    position: fixed;
    left: 20px;
    right: 20px;
    top: 0;
    width: calc(100% - 40px);
    background-color: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-family: 'PPSupplyMono';
    z-index: 1000;
    border-bottom: 0.5px solid #F14620;

}

#header .left {
    display: flex;
    align-items: center;
}

#header .left h1 {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 26px;
}

#header .left ul {
    display: flex;
}

#header .left ul li a {
    font-weight: 500;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}

#header .left ul li a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 20px;
    position: relative;
}

#header .left ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.5px;
    background-color: var(--maincolor);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

#header .left ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


#header .right {
    padding-right: 20px;
    text-align: right;
    font-size: 12px;
}

.border {
    width: 15vw;
    height: 120px;
    border: 1px solid var(--subcolor);
    border-radius: 5px;
    position: absolute;
    right: 20px;
    top: 70px;
    position: fixed;
    z-index: 29;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

#section1 {
    padding: 7% 5%;
}

#section1 .desc {
    font-size: 3.8vw;
    line-height: 1.2;
    font-family: 'PPSupplyMono';
    font-weight: 100;
    letter-spacing: -0.2vw;
}

#section1 .text {
    margin-top: 10%;
    font-size: 22vw;
    line-height: 0.9;
    font-family: Poppins;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
}

#section1 .text .imgWrap {
    position: absolute;
    right: 10vw;
    top: 5vw;
    width: 30vw;
    height: 80vh;
    background-color: #000;
    overflow: hidden;
}

#section1 .text .imgWrap .img {
    position: absolute;
    left: -10%;
    top: -10%;
    width: 120%;
    height: 120%;
    background-image: url(../img/사진09.jpg);
    background-size: cover;
}


/* section02 */
#section2 {
    padding: 10% 0;
    height: 100vh;
    position: relative;
}


.Container {
    position: absolute;
    top: 50%;
    left: 50%;
    /* font-family: 'PPSupplyMono'; */
    font-family: 'iceJaram-Rg';
    font-weight: 100;

}

.Picture {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid #F4F0E6;
    border-radius: 3px;
    background: #F4F0E6;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%);
    user-select: none;
    cursor: pointer;
    z-index: 10;
}

.Picture-img {
    display: block;
    width: 300px;
    height: 300px;
    pointer-events: none;
}

.Picture-note {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 70px;
    padding: 12px 24px;
    text-align: center;
    font-size: 1.5vw;
}

.git {
    display: inline-block;
    padding: 0 5px;
}

.git img {
    width: 1.5rem;
    vertical-align: middle;
}

.mail img {
    width: 1.5rem;
    vertical-align: middle;
}


.Me {
    position: fixed;
    z-index: 15;
    bottom: 20px;
    left: 50%;
    color: #111;
    transform: translateX(-50%);
    font-weight: 700;
    text-align: center;
    opacity: 0.7;
}

#section2 .about1 {
    margin-left: 5vw;
    font-family: 'iceJaram-Rg';
    display: flex;
}

#section2 h4 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    font-weight: 900;
    color: #F14620;
}

#section2 p {
    font-size: 20px;
    font-weight: bold;
    z-index: 10000;
    font-weight: 900;
    color: #F14620;
    z-index: 2;
}


.highlight-text {
    display: inline-block;
    position: relative;
    font-size: 1.5em;
    color: var(--maincolor);
}

.highlight-text::before {
    content: "";
    position: absolute;
    width: 18%;
    height: 50%;
    background: linear-gradient(to right, rgba(236, 193, 134, 0.592), transparent 30%, rgba(255, 116, 3, 0.291) 70%, transparent);
    top: 10px;
    left: 275px;
    z-index: -1;
    animation: highlight 1.5s infinite infinite;
    opacity: 0.7;
}

@keyframes highlight {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}

.about_right {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


/* section03 */

#section03 {
    width: 100%;
    height: 100vh;
    background-color: #F4F0E6;
    overflow: hidden;
}

#section03 .container03 {
    height: 100vh;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 7000px;


}



.sec03_box::after {
    content: "";
    position: absolute;
    top: 84%;
    left: 85%;
    transform: translate(-50%, -50%);
    border: solid #ffffff8f;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
    transition: transform 0.3s ease;

}

.sec03_box:hover::after {
    transform: translate(-50%, -50%) translateY(5px) rotate(-45deg);
    cursor: pointer;
}

.sec03_box {
    margin-right: 50px;
    width: 34vw;
    height: 45vw;
    border-radius: 10px;
    position: relative;

}

.sec03_innerBox01 {
    width: 34vw;
    height: 45vw;
    background-image: url(../img/416shots_so.png);
    background-repeat: repeat;
    background-size: cover;
    cursor: pointer;
}

.sec03_innerBox02 {
    width: 34vw;
    height: 45vw;
    background-image: url(../img/195shots_so.png);
    background-repeat: repeat;
    background-size: cover;
}

.sec03_innerBox03 {
    width: 34vw;
    height: 45vw;
    background-image: url(../img/295shots_so.png);
    background-repeat: repeat;
    background-size: cover;
}

.sec03_innerBox04 {
    width: 34vw;
    height: 45vw;
    background-image: url(../img/405shots_so.png);
    background-repeat: repeat;
    background-size: cover;
}

.box_write {
    width: 100%;
    height: 10vw;
    padding: 20px;
    display: flex;
}

.box_write .write_left {
    width: 45%;
    height: inherit;
    /* background-color: #865a5a; */
}

.write_left {}

.write_left .name {
    font-family: 'PPSupplyMono';
    font-weight: 100;
    font-size: 1.2vw;
    color: #fff;
    font-weight: 900;
}

.write_left .desc {
    font-family: 'PPSupplyMono';
    font-weight: 100;
    font-size: 0.6vw;
    color: #fff;
}

.box_write .write_right {
    width: 52%;
    /* background-color: #ed3a3a; */
    display: flex;
    justify-content: flex-end;
    font-family: 'PPSupplyMono';
}

.write_right .right_box1,
.write_right .right_box2,
.write_right .right_box3 {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    border: 1px solid #ffffff70;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    font-size: 0.7vw;
    color: #fff;
    font-family: 'PPSupplyMono';
    transition: transform 0.3s ease-in-out;
}

.write_right .right_box1:hover,
.write_right .right_box2:hover,
.write_right .right_box3:hover {
    background-color: #ffffff41;
    cursor: pointer;
    transform: scale(1.1);
}



#section04 {
    width: 100%;
    height: 60vh;
    background-color: #F4F0E6;
}

#section04 .sec04_wrap {
    width: 100%;
    display: flex;
    height: 60vh;
    padding: 50px 20px 50px 50px;
}

.sec04_wrap .sec04_wrapInner01 {
    width: 40%;
    height: inherit;
    /* background-color: #928989; */
    display: flex;
    flex-direction: column;
}

.sec04_wrapInner01 .sec04_header01 {
    font-family: 'PPSupplyMono';
    font-size: 1.1vw;
    color: var(--maincolor);
    position: absolute;
    z-index: 200;
    margin-bottom: 30px;
}

.sec04_wrapInner01 .sec04_header02 {
    margin-top: 30px;
    font-family: 'PPSupplyMono';
    font-size: 3vw;
    font-weight: 800;
    color: var(--maincolor);
    line-height: 1.2;
    position: absolute;
    z-index: 200;
}

.hidden-text02 {
    margin-top: 20px;
}

.sec04_wrap .sec04_wrapInner02 {
    width: 40%;
    height: inherit;
    /* background-color: #d09494; */

}

.sec04_wrapInner02 .inner_title {
    font-family: 'PPSupplyMono';
    font-size: 1vw;
    margin-bottom: 40px;
    color: var(--maincolor);


}


.sec04_inner_box {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;

}

.sec04_inner_box .innerBox01,
.sec04_inner_box .innerBox02,
.sec04_inner_box .innerBox03,
.sec04_inner_box .innerBox04,
.sec04_inner_box .innerBox05 {
    font-family: 'PPSupplyMono';
    font-weight: 100;
    padding: 5px 10px;
    border: 1px solid #ff3c0054;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--maincolor);
    cursor: pointer;
}

.sec04_inner_box .innerBox01:hover,
.sec04_inner_box .innerBox02:hover,
.sec04_inner_box .innerBox03:hover,
.sec04_inner_box .innerBox04:hover,
.sec04_inner_box .innerBox05:hover {
    font-family: 'PPSupplyMono';
    background-color: #ff3c0034;
    color: #fff;
    transition: all 0.4s;
}

.sec04_wrap .sec04_wrapInner03 {
    display: flex;
    justify-content: center;
    color: var(--maincolor);
    width: 20%;
    height: inherit;

}

.sec04_wrapInner03 .inner_box {
    padding: 10px;
    margin-left: 72px;
    width: 82%;
    height: 6vw;
    border: 1px solid #ff3c0054;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_box .box_img {
    width: 3vw;
    height: 3vw;
    background-color: var(--maincolor);
    /* background-image: url(../img/image\ 39.png); */
}

.inner_box .borderBox {
    font-family: 'PPSupplyMono';
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}


.inner_box .borderBox h3 {
    font-size: 0.8vw;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    /* Set initial state to transparent */
    transition: all 0.5s;
}

.inner_box .borderBox h3:hover {
    border-bottom: 1px solid var(--maincolor);
}


.inner_box .borderBox h2 {
    font-size: 1.2vw;
}


#section05 {
    width: 100%;
    height: 200vh;
}

#section05 .container05 {
    height: 200vh;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container05 .stack {
    width: 100%;
    font-size: 5vw;
    font-family: 'Poppins';
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.2;
    color: #fff;
    padding-top: 8vw;
}

.stackList01 {
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    font-family: 'PPSupplyMono';
    color: #fff;
}

.stackList01 .stack01,
.stackList01 .stack02,
.stackList01 .stack03,
.stackList01 .stack04,
.stackList01 .stack05 {
    display: flex;
    transition: all 0.3s;
}

.stackList01 .stack01:hover,
.stackList01 .stack02:hover,
.stackList01 .stack03:hover,
.stackList01 .stack04:hover,
.stackList01 .stack05:hover {
    transform: translateX(8px);
}

.stackList01 .stack01 .stackName,
.stackList01 .stack02 .stackName,
.stackList01 .stack03 .stackName,
.stackList01 .stack04 .stackName,
.stackList01 .stack05 .stackName {
    font-size: 2vw;
    padding: 10px;
    transition: opacity 0.1s;

}

.stackList01 .stack01 .stackName:hover,
.stackList01 .stack02 .stackName:hover,
.stackList01 .stack03 .stackName:hover,
.stackList01 .stack04 .stackName:hover,
.stackList01 .stack05 .stackName:hover {
    transition: opacity 0.3s, border-bottom 0.3s;
    opacity: 1;
    border-bottom: 1px solid #fff;
}

.stackList01 .stack01 .stackDesc,
.stackList01 .stack02 .stackDesc,
.stackList01 .stack03 .stackDesc,
.stackList01 .stack04 .stackDesc,
.stackList01 .stack05 .stackDesc {

    font-size: 0.8vw;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
}

.container05 img {
    margin-top: 10vw;
    width: 30vw;
    height: 35vw;
    position: absolute;
    left: 10%;
    top: 50%;
    z-index: 10000;
}

.stackList02 {
    display: flex;
    flex-direction: column;
    font-family: 'PPSupplyMono';
    color: #fff;
    position: absolute;
    top: 60%;
    right: 0;
    margin-top: 10vw;
}

.stackList02 .stack01,
.stackList02 .stack02,
.stackList02 .stack03,
.stackList02 .stack04,
.stackList02 .stack05 {
    display: flex;
}

.stackList02 .stack01:hover,
.stackList02 .stack02:hover,
.stackList02 .stack03:hover,
.stackList02 .stack04:hover,
.stackList02 .stack05:hover {
    transform: translateX(8px);
}

.stackList02 .stack01 .stackName,
.stackList02 .stack02 .stackName,
.stackList02 .stack03 .stackName,
.stackList02 .stack04 .stackName,
.stackList02 .stack05 .stackName {
    font-size: 2vw;
    padding: 10px;
    transition: opacity 0.3s;
}

.stackList02 .stack01 .stackName:hover,
.stackList02 .stack02 .stackName:hover,
.stackList02 .stack03 .stackName:hover,
.stackList02 .stack04 .stackName:hover,
.stackList02 .stack05 .stackName:hover {
    transition: opacity 0.3s, border-bottom 0.3s;
    opacity: 1;
    border-bottom: 1px solid #fff;
}


.stackList02 .stack01 .stackDesc,
.stackList02 .stack02 .stackDesc,
.stackList02 .stack03 .stackDesc,
.stackList02 .stack04 .stackDesc,
.stackList02 .stack05 .stackDesc {

    font-size: 0.8vw;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


#section06 {
    width: 100%;

}

.container06 {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 40px;
}

.container06 .sec06_left {
    width: 50%;
}

.container06 .sec06_left h5 {
    padding-top: 29vw;
    font-size: 11vw;
    font-weight: 900;
    font-family: 'Poppins';
    color: #F4F0E6;
}

.container06 .sec06_right {
    padding-left: 5vw;
    width: 50%;
}

.contactWrap {
    padding-top: 15vw;
    display: flex;
    flex-direction: column;
    color: #F4F0E6;
    font-size: 0.9vw;
    font-family: 'PPSupplyMono';
}

.contactWrap h6 {
    font-size: 0.9vw;
    margin-bottom: 10px;
    color: #F4F0E6;
    border: 0.5px solid #F4F0E6;
    width: 15%;
    border-radius: 2px;
    background-color: #5a5a5a5d;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 1px;
    padding-top: 5px;
}

.contactWrap p {
    font-size: 1vw;
    padding-bottom: 10px;
    font-weight: 100;
}

.linkWrap {
    display: flex;
    align-content: center;
    align-items: center;
}

.linkWrap .img1 {
    margin: 10px 10px 10px 0px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 2px;
}

.linkWrap .img2 {
    margin: 10px 10px 10px 20px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 2px;
}

.linkWrap .icon1,
.linkWrap .icon2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    position: relative;
    font-weight: 100;
    font-size: 0.8vw;
}

.linkWrap .icon1::after,
.linkWrap .icon2::after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.5s ease;
}

/* .linkWrap .icon1:hover::after,
.linkWrap .icon2:hover::after {
    background-color: #ffffff;

} */

.sec06_line {
    width: 50%;
    height: 2px;
    margin-top: 20px;
    border-bottom: 1px solid #F4F0E6;
}

.commentWrap {
    display: flex;
    flex-direction: column;
    font-family: 'PPSupplyMono';
    color: #F4F0E6;
    padding-top: 20px;
}

.commentWrap h5 {
    margin-top: 20px;
    font-size: 0.9vw;
    margin-bottom: 10px;
    border: 0.5px solid #F4F0E6;
    width: 15%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 2px;
    padding-top: 2px;
    background-color: #5a5a5a5d;
}

.commentWrap p {
    font-size: 1vw;
    font-weight: 100;
}

.commentWrap fieldset {
    padding-top: 8px;
    font-weight: 100;
}

.commentWrap .name input {
    width: 42%;
    height: 25px;
    background-color: #a0a0a01f;
    color: #F4F0E6;
    margin-left: 10px;
    margin-bottom: 20px;
}

.commentWrap .write input {
    width: 42%;
    height: 80px;
    background-color: #a0a0a01f;
    color: #F4F0E6;
    position: relative;
}

.commentWrap button {
    width: 41%;
    border-radius: 5px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 58px;
    margin-top: 20px;
    cursor: pointer;
}

.commentWrap button:hover {
    background-color: rgba(228, 226, 226, 0.842);
    color: #F4F0E6;
}


.infoWrap {
    display: flex;
    flex-direction: row;
    font-family: 'PPSupplyMono';
    color: #F4F0E6;
    justify-content: center;
    font-weight: 100;
}

.infoWrap .git,
.infoWrap .tstory,
.infoWrap .instagram {
    padding: 5px 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}


.infoWrap .git:hover,
.infoWrap .tstory:hover,
.infoWrap .instagram:hover {
    transform: translateY(-3px);
}

.line06 {
    display: flex;
    width: 100%;
    border-top: 0.2px solid #fff;
    margin-bottom: 3vw;

}

@media(max-width:1200px) {
    #section1 .text .imgWrap {
        position: absolute;
        right: 6vw;
        top: 5vw;
        width: 30vw;
        height: 60vh;
        overflow: hidden;

    }

    #section1 .text .imgWrap .img {
        position: absolute;
        left: -26%;
        top: -10%;
        width: 140%;
        height: 110%;
    }

    .sec04_wrapInner03 .inner_box {
        margin-left: 42px;
    }

    #section05 .container05 {
        height: 130vh;

    }

    #section05 {
        width: 100%;
        height: 130vh;
    }

    .container06 {
        width: 100%;
        height: 80vh;
        display: flex;
        padding: 40px;
    }
}

@media(max-width:800px) {
    #section1 {
        padding: 11% 5%;
    }

    #header .left ul li a {
        padding: 5px 10px;
        margin: 0 6px;
    }

    .border {
        width: 25vw;
        height: 95px;
        border: 1px solid var(--subcolor);
        border-radius: 5px;
        position: absolute;
        right: 20px;
        top: 70px;
        position: fixed;
        z-index: 29;
        background-color: transparent;
        backdrop-filter: blur(10px);
    }


    .about_left .imgWrap2 .img {
        margin-left: 2vw;
        width: 33vw;
        height: 40vw;
    }

    #section2 p {
        font-size: 15px;
        font-weight: bold;
        z-index: 10000;
        font-weight: 900;
        color: #F14620;
    }

    #section03 .container03 {
        height: 52vh;
        padding: 70px;
        display: flex;
        flex-wrap: wrap;
        width: 7000px;
    }

    .sec04_wrapInner01 .sec04_header02 {
        font-size: 3.5vw;

    }


    #section1 .text .imgWrap {
        position: absolute;
        right: 6vw;
        top: 5vw;
        width: 30vw;
        height: 40vh;
        overflow: hidden;

    }

    .sec04_wrapInner02 .inner_title {
        font-family: 'PPSupplyMono';
        font-size: 1.5vw;
        margin-bottom: 40px;
        color: var(--maincolor);
    }

    .sec04_wrapInner01 .sec04_header01 {
        font-family: 'PPSupplyMono';
        font-size: 1.5vw;
        color: var(--maincolor);
        position: absolute;
        z-index: 200;
        margin-bottom: 30px;
    }

    .stackList01 .stack01 .stackDesc,
    .stackList01 .stack02 .stackDesc,
    .stackList01 .stack03 .stackDesc,
    .stackList01 .stack04 .stackDesc,
    .stackList01 .stack05 .stackDesc {
        font-size: 1.1vw;
        padding: 10px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: relative;
    }

    .stackList01 .stack01 .stackName,
    .stackList01 .stack02 .stackName,
    .stackList01 .stack03 .stackName,
    .stackList01 .stack04 .stackName,
    .stackList01 .stack05 .stackName {
        font-size: 2.5vw;
        padding: 10px;
        transition: opacity 0.1s;
    }

    .container05 img {
        margin-top: 10vw;
        width: 30vw;
        height: 35vw vw;
        background-color: #fff;
        position: absolute;
        left: 1%;
        top: 50%;
    }

    .stackList02 .stack01 .stackName,
    .stackList02 .stack02 .stackName,
    .stackList02 .stack03 .stackName,
    .stackList02 .stack04 .stackName,
    .stackList02 .stack05 .stackName {
        font-size: 2.5vw;
        padding: 10px;
        transition: opacity 0.3s;
    }

    .stackList02 .stack01 .stackDesc,
    .stackList02 .stack02 .stackDesc,
    .stackList02 .stack03 .stackDesc,
    .stackList02 .stack04 .stackDesc,
    .stackList02 .stack05 .stackDesc {
        font-size: 1.1vw;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .sec04_wrap .sec04_wrapInner03 {
        display: flex;
        justify-content: center;
        color: var(--maincolor);
        width: 38%;
        height: inherit;
    }

    #section1 .text .imgWrap .img {
        position: absolute;
        left: -26%;
        top: -10%;
        width: 140%;
        height: 110%;
    }

    .sec04_wrapInner03 .inner_box {
        margin-left: 42px;
    }

    #section05 .container05 {
        height: 120vh;
    }

    #section05 {
        width: 100%;
        height: 120vh;
    }

    .container06 {
        width: 100%;
        height: 80vh;
        display: flex;
        padding: 40px;
    }

    .contactWrap h6 {
        font-size: 1.5vw;
        border: 0.5px solid #F4F0E6;
        width: 35%;

    }

    .contactWrap p {
        font-size: 1.5vw;
    }

    .linkWrap .icon1,
    .linkWrap .icon2 {

        font-size: 1.5vw;
    }

    .commentWrap h5 {
        padding: 3px 10px;
        font-size: 1.5vw;
        border: 0.5px solid #F4F0E6;
        width: 35%;
        border-radius: 2px;
        padding-top: 5px;
        background-color: #5a5a5a5d;
    }

    .commentWrap p {
        font-size: 1.5vw;
        font-weight: 100;
    }

    .commentWrap .name input {
        width: 60%;
    }

    .commentWrap .write input {
        width: 60%;
    }

    .commentWrap button {
        width: 58%;
    }

    .sec06_line {
        width: 83%;
    }
}

@media screen and (max-width: 680px) {
    #section1 {
        padding: 15% 5%;
    }

    #section1 .text {
        margin-top: 10%;

    }

    #section2 {
        padding: 14% 0;
    }

    #header .right {
        display: none;
    }

    #section1 .text .imgWrap {
        position: absolute;
        right: 6vw;
        top: 5vw;
        width: 36vw;
        height: 37vh;
    }

    #section1 .text .imgWrap .img {
        position: absolute;
        left: -26%;
        top: -23%;
        width: 140%;
        height: 126%;
    }

    .about_right {
        padding: 0px 20px;
    }

    .write_right .right_box1,
    .write_right .right_box2,
    .write_right .right_box3 {
        display: none;
    }

    .sec04_wrap .sec04_wrapInner03 {
        display: none;
    }

    #section04 .sec04_wrap {
        display: flex;
        justify-content: center;
    }

    .container05 img {

        display: none;
    }

    .stackList01 {
        margin-top: 5vw;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .stackList02 {
        font-family: 'PPSupplyMono';
        margin-top: 5vw;
    }


}