* {
    padding: 0;
    margin: 0;
}

#wrap {
    width: 100%;
}

body {
    background: #F2EEE4;
    color: #F14620;
     -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

/* header */

#header {
    position: fixed;
    left: 20px;
    right: 20px;
    top: 0;
    width: calc(100% - 40px);
    background-color: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-family: 'PPSupplyMono';
    z-index: 1000;
    border-bottom: 0.5px solid #F14620;

}

#header .left {
    display: flex;
    align-items: center;
}

#header .left h1 {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 26px;
}

#header .left ul {
    display: flex;
}

#header .left ul li a {
    font-weight: 500;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}

#header .left ul li a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 20px;
    position: relative;
}

#header .left ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.5px;
    background-color: var(--maincolor);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

#header .left ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


#header .right {
    padding-right: 20px;
    text-align: right;
    font-size: 12px;
}

.border {
    width: 15vw;
    height: 120px;
    border: 1px solid var(--subcolor);
    border-radius: 5px;
    position: absolute;
    right: 20px;
    top: 70px;
    position: fixed;
    z-index: 29;
    background-color: transparent;
    backdrop-filter: blur(10px);
}
.border h2 {
    text-align: center;
    font-family: 'PPSupplyMono';
}
.border h3 {
    text-align: center;
    padding-top: 5px;
    font-family: 'VitroPride';
    font-size: 0.8vw;
}

#section1 {
    padding: 7% 5%;
}

#section1 .desc {
    font-size: 3.8vw;
    line-height: 1.2;
    font-family: 'PPSupplyMono';
    font-weight: 100;
    letter-spacing: -0.2vw;
}

#section1 .text {
    margin-top: 10%;
    font-size: 22vw;
    line-height: 0.9;
    font-family: Poppins;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
}

#section1 .text .imgWrap {
    position: absolute;
    right: 10vw;
    top: 5vw;
    width: 30vw;
    height: 80vh;
    background-color: #000;
    overflow: hidden;
}

#section1 .text .imgWrap .img {
    position: absolute;
    left: -10%;
    top: -10%;
    width: 120%;
    height: 120%;
    background-image: url(../img/사진09.jpg);
    background-size: cover;
}


/* section02 */
#section2 {
    padding: 10% 0;
    height: 100vh;
    position: relative;
}


.Container {
    position: absolute;
    top: 50%;
    left: 50%;
    /* font-family: 'PPSupplyMono'; */
    font-family: 'iceJaram-Rg';
    font-weight: 100;

}

.Picture {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid #F4F0E6;
    border-radius: 3px;
    background: #F4F0E6;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%);
    user-select: none;
    cursor: pointer;
    z-index: 10;
}

.Picture-img {
    display: block;
    width: 300px;
    height: 300px;
    pointer-events: none;
}

.Picture-note {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 70px;
    padding: 12px 24px;
    text-align: center;
    font-size: 1.5vw;
    line-height: 1.1;
}

.git {
    display: inline-block;
    padding: 0 5px;
}

.git img {
    width: 1.5rem;
    vertical-align: middle;
}

.mail img {
    width: 1.5rem;
    vertical-align: middle;
}


.Me {
    position: fixed;
    z-index: 15;
    bottom: 20px;
    left: 50%;
    color: #111;
    transform: translateX(-50%);
    font-weight: 700;
    text-align: center;
    opacity: 0.7;
}

#section2 .about1 {
    margin-left: 5vw;
    font-family: 'iceJaram-Rg';
    display: flex;
}

#section2 h4 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    font-weight: 900;
    color: #F14620;
}

#section2 p {
    font-size: 20px;
    font-weight: bold;
    z-index: 10000;
    font-weight: 900;
    color: #F14620;
    z-index: 2;
}


.highlight-text {
    display: inline-block;
    position: relative;
    font-size: 1.5em;
    color: var(--maincolor);
}

.highlight-text::before {
    content: "";
    position: absolute;
    width: 18%;
    height: 50%;
    background: linear-gradient(to right, rgba(236, 193, 134, 0.592), transparent 30%, rgba(255, 116, 3, 0.291) 70%, transparent);
    top: 10px;
    left: 275px;
    z-index: -1;
    animation: highlight 1.5s infinite infinite;
    opacity: 0.7;
}

@keyframes highlight {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}

.about_right {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}



#section2 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section2 .about1 {
    font-family: 'iceJaram-Rg';
    text-align: center;

}

#section2 h4 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

#section2 p {
    font-size: 20px;
    font-weight: bold;
}

#section2 .about2 {
    margin-top: 10vw;
    margin-left: 10vw;
    font-family: 'iceJaram-Rg';
    font-size: 20px;
    font-weight: bold;
}






#section3 {
    height: 100vh;
    margin-bottom: 40vw;
}

#section3 h4 {
    padding: 16px 23px 0;
    font-size: 20px;
    font-weight: bold;
    font-family: 'iceJaram-Rg';
}

.port-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 20px;
    width: 400%;
}

/* 이미지 크기 420*510 */

.port-wrap .port {
    width: calc(40vw - 60px);
    margin-right: 20px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    height: 860px;
}

.port-wrap .port::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.534) 0%, rgba(0, 0, 0, 0) 100%);
}

.port-wrap .port .info {
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: 10;
}

.port-wrap .port .info h5 {
    color: #fff;
    width: 100%;
    padding: 0;
    font-family: 'iceJaram-Rg';
    font-size: 50px;
}

.port-wrap .port .info p {
    color: #fff;
    font-family: 'IropkeBatang';
    width: 100%;
}

.port-wrap .port .mp3 {
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    filter: sepia(10%);
}

.port-wrap .port img {
    filter: sepia(20%);
}

.port-wrap .port .skill {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 10;
}

.port-wrap .port .skill span {
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin-top: 10px;
    font-family: 'PPSupplyMono';
    transition: transform 0.3s ease,
        background-color 0.3s ease;
    cursor: pointer;
}


.port-wrap .port .skill span:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.301);
}


/* SECTION04 */

#section4 {
    width: 100%;
    height: 430vh;
}

.subPort {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    background-color: var(--mainBg-color);
}

.subPort__title {
    position: sticky;
    top: 70px;
    left: 0;
    width: 48%;
    height: 5vw;
    font-size: 8vw;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    color: #F14620;
    font-family: "Headlines";
    text-align: center;
}

.subPort__desc {
    width: 50%;
}


.subPort__desc h3 {
    font-size: 3vw;
    color: #F14620;
    font-family: 'iceJaram-Rg';
    position: relative; /* Add position relative */
    overflow: hidden; /* Ensures the pseudo-element doesn't extend outside */
    text-decoration: none; /* Remove default text decoration */
    text-underline-position: under;
}
.subPort__desc span {
    font-size: 2vw;
}



.subPort__desc .subBox {
    background-color: #ffffff;
    width: 100%;
    height: 650px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.subPort__desc .subBox img {
    border: 1px solid #b0b0b0;
    margin-top: 20px;
    width: 96%;
    height: 500px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.subPort__desc p {
    font-family: 'EliceDigitalBaeum';
}

/* Pseudo-element for underline */
.subPort__desc p::after {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    height: 1px; /* or the thickness of your underline */
    background-color: currentColor; /* matches the color of the text */
    transition: left 0.3s ease, right 0.3s ease; /* Adjust timing as needed */

}

/* Hover effect */
.subPort__desc p:hover::after {
    left: 0;
    right: 0;
}

.dimmed {
    opacity: 0.5;
    transition: opacity 2s ease;
}

.active {
        transition: opacity 2s ease;
    opacity: 1;
}


























/* section05 */

#section05 {
    margin-top: 20vw;
    width: 100%;
    height: 250vh;
}

.container05 .stack {
    width: 100%;
    font-size: 10vw;
    font-family: "Headlines";
    font-weight: 900;
    text-transform: uppercase;
    /* font-weight: 900; */
    line-height: 1.2;
    color: #fff;
    padding-top: 5vw;
    letter-spacing: -0.2vw;

}


.skill__inner {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    background-color: var(--mainBg-color);
}

.skill__title {
    position: sticky;
    top: 70px;
    left: 0;
    width: 48%;
    height: 5vw;
    font-size: 9vw;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    color: var(--white500);
    font-family: "Headlines";
    text-align: center;
}

/* 
.skill__title em {
    font-size: var(--mainNum--font);
    font-size: 1.25rem;
    font-weight: 400;
    display: inline-block;
    color: var(--white500);
} */

.skill__desc {
    margin-top: 5vw;
    width: 50%;
}

.skill__desc .num {
    font-family: 'iceJaram-Rg';
    font-size: 1vw;
    line-height: 1;
    font-weight: 900;
    color: var(--white500);
}

.skill__desc h3 {
    font-size: 3vw;
    color: var(--white500);
    font-family: 'iceJaram-Rg';
    position: relative; /* Add position relative */
    overflow: hidden; /* Ensures the pseudo-element doesn't extend outside */
    text-decoration: none; /* Remove default text decoration */
    text-underline-position: under;
}



.skill__desc p {
    font-size: 0.9vw;
    color: var(--white500);
    margin-bottom: 5vh;
    font-family: 'IropkeBatang';
    position: relative; /* Add position relative */
    overflow: hidden; /* Ensures the pseudo-element doesn't extend outside */
display: inline-block;
}

/* Pseudo-element for underline */
.skill__desc p::after {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    height: 1px; /* or the thickness of your underline */
    background-color: currentColor; /* matches the color of the text */
    transition: left 0.3s ease, right 0.3s ease; /* Adjust timing as needed */

}

/* Hover effect */
.skill__desc p:hover::after {
    left: 0;
    right: 0;
}



@media(max-width: 800px) {
    .skill__inner {
        flex-direction: column;
    }

    .skill__title {
        width: 100%;
        margin-bottom: 10vw;
        height: auto;
        background-color: var(--mainBg-color);
    }

    .skill__desc {
        width: 100%;
    }

    .skill__desc h3 {
        font-size: 18px;
    }

    .skill__desc p {
        font-size: 14px;
        font-weight: 400;
    }

    .skill__desc span {
        font-size: 20vw;
    }
}




/* Section06 */

.container06 {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 40px;
}

.container06 .sec06_left {
    width: 40%;
}

.container06 .sec06_right {
    width: 60%;
    display: flex;
    flex-direction: column;
}
.sec06_right .top {
    height: 35%;
    border-bottom: 1px solid #616161;
}
.sec06_right .bottom {
    height: 65%;
}
.topWrap {
    padding-top: 7vw;
    display: flex;
    flex-direction: column;
    color: #F4F0E6;
    font-size: 0.9vw;
    font-family: 'PPSupplyMono';
}

.topWrap h6 {
    font-size: 1.5vw;
    margin-bottom: 10px;
    border-radius: 2px;
    /* background-color: #5a5a5a5d; */
    text-align: center;
    display: flex;
    padding: 1px;
    padding-top: 5px;
    /* justify-content: center; */
}

.topWrap p {
    padding-top: 1vw;
    font-size: 1vw;
    padding-bottom: 10px;
    font-weight: 100;
    padding-bottom: 1vw;
}

.iconWrap {

    display: flex;
}

.icon1 {
    display: flex;

}

.iconbox {
    width: 30px;
    height: 30px;
    border-radius: 2px;
    background-color: #fff;
    position: relative;
}

.iconbox img {
    position: absolute;
    top: 18%;
    left: 19%;
    width: 18px;
    height: 18px;
}

.iconText {
    margin-left: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.icon2 {
    margin-left: 50px;
    display: flex;
}


.commentWrap fieldset {
    font-weight: 100;
    display: flex;
    flex-direction: column;
}

.commentWrap .name input {
    width: 80%;
    height: 50px;
    background-color: #a0a0a01f;
    color: #F4F0E6;
    margin-bottom: 20px;
}

.commentWrap .write input {
    width: 80%;
    height: 100px;
    background-color: #a0a0a01f;
    color: #F4F0E6;
    position: relative;
    padding: 2px;
}

input::placeholder {
    text-align: center;
    color: #cccccc62;
}



.commentWrap button {
    width: 80%;
    border-radius: 5px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1vw;
}

.commentWrap button:hover {
    background-color: rgba(228, 226, 226, 0.842);
    color: #F4F0E6;
}

.commentList {
    margin-top: 2vw;
    border-top: 1px solid #616161;
}
.commentList h5 {
    margin-top: 2vw;
    font-size: 1.5vw;
    border-radius: 2px;
    text-align: center;
    display: flex;
    padding: 1px;
    padding-top: 5px;
    font-family: 'PPSupplyMono';
    color: #fff;
}
.listBox {
    height: 150px;
    overflow: scroll;
    font-family: 'PPSupplyMono';
    padding-top: 1.5vw;
    font-size: 1vw;
    color: #fff;
}


.linkWrap {
    display: flex;
    align-content: center;
    align-items: center;
}

.commentWrap {
    display: flex;
    flex-direction: column;
    font-family: 'PPSupplyMono';
    color: #F4F0E6;
    padding-top: 20px;
}

.commentWrap h5 {
    font-size: 1.5vw;
    margin-bottom: 10px;
    border-radius: 2px;
    /* background-color: #5a5a5a5d; */
    text-align: center;
    display: flex;
    padding: 1px;
    padding-top: 5px;
    margin-top: 1vw;
    /* justify-content: center; */
}

.commentWrap p {
    padding-top: 1vw;
    font-size: 0.9vw;
    font-weight: 100;
    padding-bottom: 1vw;
}




.infoWrap {
    display: flex;
    flex-direction: row;
    font-family: 'PPSupplyMono';
    color: #F4F0E6;
    justify-content: center;
    font-weight: 100;
}

.infoWrap .git,
.infoWrap .tstory,
.infoWrap .instagram {
    padding: 5px 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}


.infoWrap .git:hover,
.infoWrap .tstory:hover,
.infoWrap .instagram:hover {
    transform: translateY(-3px);
}

.line06 {
    display: flex;
    width: 100%;
    border-top: 0.2px solid #ffffff44;
    padding-bottom: 3vw;
}



/* section06 */

.Iam {
    padding: 8em 1.5em 0.5em 3em;
    font: normal 60px/50px Headlines;
    color: #F4F0E6;
}

.Iam p {
    height: 85px;
    font-size: 12vw;
    float: left;
    margin-right: 0.3em;
}

.Iam b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    top: 40px;
}

.Iam .innerIam {
    display: inline-block;
    color: var(--maincolor);
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;


    /*animation*/
    -webkit-animation: move 5s;
    -moz-animation: move 5s;
    -ms-animation: move 5s;
    -o-animation: move 5s;
    animation: move 5s;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    /*animation-delay*/
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

@keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}

@-webkit-keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}

@-moz-keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}

@-o-keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}

@keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}



@media(max-width:1200px) {
    #section1 .text .imgWrap {
        position: absolute;
        right: 6vw;
        top: 5vw;
        width: 30vw;
        height: 60vh;
        overflow: hidden;

    }


}